# App
VITE_APP_NAME=Imola Kit
VITE_APP_URL=
VITE_LOG_LEVEL=
VITE_AUTH_STRATEGY=NONE

# Auth0 (if using AUTH0 strategy)
# VITE_AUTH0_DOMAIN=
# VITE_AUTH0_CLIENT_ID=
# VITE_AUTH0_CALLBACK_URL=

# Clerk (if using CLERK strategy)
# VITE_CLERK_PUBLISHABLE_KEY=

# Supabase (if using SUPABASE strategy)
# VITE_SUPABASE_URL=
# VITE_SUPABASE_ANON_KEY=

# API Backend
# VITE_API_BASE_URL=http://localhost:8080/api

# Mapbox (optional)
VITE_MAPBOX_API_KEY=

# Google Tag Manager (optional)
VITE_GOOGLE_TAG_MANAGER_ID=
