# App
VITE_APP_URL=
VITE_LOG_LEVEL=

# Salesforce OAuth 2.0 PKCE
VITE_SF_LOGIN_URL=https://login.salesforce.com
VITE_SF_CLIENT_ID=your_connected_app_consumer_key
VITE_SF_REDIRECT_URI=http://localhost:3000/callback
VITE_SF_API_VERSION=v65.0

# Mapbox (optional)
VITE_MAPBOX_API_KEY=

# Google Tag Manager (optional)
VITE_GOOGLE_TAG_MANAGER_ID=